body {
  background-color: rgb(200, 197, 197);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem auto;
  padding: 4rem 2rem;
  width: 60%;
}

.counter-label {
  font-size: 3em;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

button {
  background-color: rgb(69, 160, 73);
  border: none;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  font-size: 1em;
  margin: 0.15rem;
  padding: 1rem 1.9rem;
  cursor: pointer;
  max-width: 12.5rem;
  width: 100%;
}

button:hover {
  background-color: rgb(44, 121, 48);
}

.reset {
  background-color: rgb(207, 19, 50);
}

.reset:hover {
  background-color: rgb(151, 14, 37);
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7rem auto;
  padding: 4rem 2rem;
  width: 40%;
  text-align: center;
}

.error-message {
  color: rgb(219, 13, 13);
}

@media screen and (max-width: 480px) {
  .container {
    margin: 12rem auto;
    padding: 1.8rem 2rem;
  }

  .counter-label {
    font-size: 2em;
  }

  button {
    max-width: 9rem;
    padding: 0.6rem 0.9rem;
  }

  button:hover {
    background-color: rgb(69, 160, 73);
  }

  .reset:hover {
    background-color: rgb(207, 19, 50);
  }
}